.menu-open {
  transform: translateX(0) !important;
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

.home-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  transform: translateY(50%);
}

.navbar-login {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.navbar-login-mobile {
  color: black;
  text-decoration: none;
  display: flex;
  margin-top: 1rem;
  font-size: 18px;
  font-family: Jost;
  font-weight: 500;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar-link {
  color: inherit;
  text-decoration: none;
  font-family: Jost;
  font-weight: 500;
}

.home-navbar1 {
  top: 0;
  width: 100%;
  height: 75px;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}

.home-navbar2 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.home-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
}

.home-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}

.home-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 

.home-left {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}

.home-logo-center1 {
  letter-spacing: 0.2em;
  white-space: nowrap;
}

.home-logo-center2 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}

/* .home-logo-center2 {
  color: var(--dl-color-pallet-green);
} */

.home-right1 {
  display: flex;
  /* grid-gap: 45px; */
  /* position: relative; */
  align-items: center;
  gap: 45px;
}

.home-right2 {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.home-image1 {
  width: 24px;
  height: 24px;
  z-index: 100;
  margin-right: -32px;
}

.home-image2 {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}

.home-middle1 {
  display: flex;
  position: relative;
  /* box-sizing: border-box; */
  align-items: center;
  /* flex-shrink: 1; */
  /* border-color: transparent; */
  /* justify-content: center; */
  gap: 45px;
  /* justify-content: flex-start;  */
  /* flex: 1 */
}

.home-middle2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* .home-middle2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
} */

.home-text13,
.home-text14,
.home-text15,
.home-text16,
.home-text17,
.home-text18 {
  margin: 10px 0;
}

.home-textinput {
  width: 100%;
  max-width: var(--dl-size-size-xxlarge);
  transition: 0.3s;
  border-color: var(--dl-color-gray-700);
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.home-textinput:hover {
  border-color: var(--dl-color-pallet-yellow);
}
 
.home-icons {
  display: flex;
}
 
.home-burger-menu {
  /* border: none; */
  /* background: none; */
  /* cursor: pointer; */
  /* padding: 8px; */
  display: none; 
  /* display: flex; */
  /* cursor: pointer; */
  /* align-items: center; */
  /* justify-content: center; */
  /* margin-left: auto; */
}

.home-icon10 {
  /* width: 24px; */
  /* height: 24px; */
  display: none;
}
.home-mobile-menu {
  top: 0;
  right: 0;
  width: 100%;
  max-width: 350px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: white;
}

.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-container3 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
 
 
.home-close-mobile-menu {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 19px;
}

.home-close-mobile-menu:hover {
  opacity: 0.7;
}

/* .home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
} */
 
.home-text13 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.home-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.home-text15 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.home-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.home-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
 
.home-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}

.home-icon10,
/* .home-icon12, */
.home-icon14,
.home-icon16,
.home-icon18 {
  width: 24px;
  height: 24px;
}
 
.home-main {
  margin-top: 50px;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
 
.home-gallery {
  width: 100%;
  display: flex;
  align-items: stretch;
}
 

.home-top {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
}
 
.home-text19 {
  display: inline-block;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-text21 {
  display: inline-block;
}
 
.home-text22 {
  display: inline-block;
}
 
.home-bottom {
  flex: 1;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}
 
.home-footer1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.home-footer2 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
 
.home-container4 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
 
.home-text23 {
  margin-bottom: var(--dl-space-space-halfunit);
}
 
.home-text24 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
 
.home-text27 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
 
.home-text28 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
 
.home-links-container {
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-container5 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text29 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
 
.home-text30 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text31 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text32 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text33 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text34 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text35 {
  color: var(--dl-color-gray-black50);
}
 
.home-container6 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-sixunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text36 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
 
.home-text37 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text38 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text39 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text40 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text41 {
  color: var(--dl-color-gray-black50);
}
 
.home-container7 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-text42 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 44px;
}
 
.home-text43 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text44 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text45 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}
 
.home-text46 {
  color: var(--dl-color-gray-black50);
  margin-bottom: var(--dl-space-space-unit);
}


@media(max-width: 768px) {
  .desktop-only {
    display: none !important;
  }
  .mobile-only {
    display: flex;
  }
  .home-header {
    width: 100%;
  }
  .home-container2 {
    display: none;
  }
  .home-left {
    display: none;
  }
  .home-right1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 16px;
    justify-content: center; 
  }

  .home-icons {
    display: none;
  }

  .home-burger-menu {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-left: auto; */
    cursor: pointer;
    display: flex !important;
    align-items: center !important;
    margin-left: auto !important;
  }
  
  .home-icon10 {
    display: block;
    width: 24px;
    height: 24px;
    /* padding-right: 2rem; */
  }

  .home-icon12 {
    width: 24px;
  }

  .home-logo-center1 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .home-logo-center2 {
    margin-left: 0px;
  }
  .home-footer2 {
    flex-direction: column-reverse;
  }
  .home-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
  
  .home-navbar2 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100%;
  }
  
  .home-middle1 {
    flex: 0 !important;
    width: auto !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  .home-mobile-menu {
    /* transform: translateX(0); */
    /* top: 0; */
    /* right: 0; */
    /* width: 100%; */
    /* height: 100vh; */
    /* display: flex; */
    /* padding: 32px; */
    /* z-index: 100; */
    /* position: fixed; */
    /* transform: translateX(100%); */
    /* transition: transform 0.3s ease; */
    /* background-color: white; */
    max-width: 300px;
  }

  .home-mobile-menu .navbar-link {
    color: black;
  }

  .home-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-container3 {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 100% !important;
  }

  .navbar-link {
    display: block;
    /* margin: 0.5rem 0; */
    padding: 12px 0;
    font-size: 18px;
  }

  .menu-open {
    transform: translateX(0) !important;
  }

  .menu-open + .home-burger-menu {
    display: none;
  }

  .navbar-logo-title {
    color: var(--dl-color-gray-black);
    cursor: pointer;
    height: auto;
    font-size: 24px;
    transition: 0.3s;
    font-family: Jost;
    font-weight: 500;
    /* line-height: 20px; */
    /* display: block; */
    position: absolute;
    top: 5px;
    left: 20px;
    margin-right: var(--dl-space-space-fourunits);
    letter-spacing: 0.4em;
    text-decoration: none;
  }
}
 /*
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-main {
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-gallery {
    flex-direction: column;
  }
  .home-top {
    flex-direction: column;
  }
  .home-bottom {
    flex-direction: column;
  }
  .home-footer2 {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
 
@media(max-width: 479px) {
  .home-container1 {
    padding-top: 55px;
  }
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-footer2 {
    padding: var(--dl-space-space-unit);
  }
  .home-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-container5 {
    margin-right: var(--dl-space-space-unit);
  }
  .home-container6 {
    margin-right: var(--dl-space-space-unit);
  }
}
  */
