.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.hero__img {
    width: auto;
    height: var(--size-6xl);
}

.hero__form {
    border: none;
    border-radius: 3rem;
    width: auto;
    height: auto;
    padding: 3rem var(--size-3xl);
    margin-bottom: 2rem;
    background-color: rgba(228, 165, 197, 0.5);
}

.hero__title {
    color: var(--clr-slate800);
    text-transform: uppercase;
    font-size: var(--size-xl);
    /*letter-spacing: -0.05em;*/
    line-height: 0.9;
    /*margin-bottom: var(--size-3xl);*/
    margin-bottom: 5px;
}

.hero__input {
    border: 2px solid var(--clr-slate400);
    border-radius: 15rem;
    width: 14rem;
    /*margin: var(--size-sm);*/
    padding: var(--size-xs);
    font-weight: 600;
}

.hero__login {
    width: 14rem;
    margin-top: 1rem;
    padding: var(--size-xs);
}

.hero__error {
    border: none;
    border-radius: 15rem;
    background-color: whitesmoke;
    width: 14rem;
    padding: var(--size-xxs);
    margin: 1rem auto;
    /* color: white; */
    color: red;
    font-weight: 600;
}

/* xs */
@media (min-width: 475px) {
    .hero {
        gap: 1.5rem;
    }

    .hero__img {
        width: auto;
        height: var(--size-7xl);
    }

    .hero__title {
        font-size: var(--size-3xl);
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .hero__img {
        height: var(--size-9xl);
    }

    .hero__title {
        font-size: var(--size-3xl);
    }

    .hero__input {
        width: 20rem;
    }
    
    .hero__login {
        width: 20rem;
    }
    
    .hero__error {
        width: 20rem;
    }
}

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */